<div #mapazoom class="mapa-container"></div>


<div class="row">
  <div class="col-12">
    <label>
      Zoom: {{ zoomLevel | number: '2.0-2' }} - Lng,Lat: [123,13]
    </label>
    <input type="range" class="form-range" [value]="zoomLevel" min="0" max="18"  (input)="zoomCambio( zoomInput.value )" #zoomInput>
  </div>
<div class="col-12">
  <button class="btn btn-primary" (click)="zoomOut()">
    -
  </button>
  <button class="btn btn-primary float-end" (click)="zoomIn()">
    +
  </button>
</div>
</div>
