
<ul class="list-group">
  <li class="list-group-item list-group-item-info" (click)="agregarMarcador()">
    + Agregar
  </li>

  <li class="list-group-item"
      *ngFor="let marcador of marcadores; let i = index"
      (click)="irMarcador(marcador.marker!)"
      [ngStyle]="{'background-color': marcador.color}">
    Ubicación {{i+1}}
    <button title="Eliminar" style="background-color: transparent; border-color: transparent" type="button" icon (click)="borrarMarcador(i)">
      X
    </button>
  </li>

</ul>

<div #mapamarcadores class="mapa-container"></div>
